/* assigning or setting variables */
$primary-color: #C5CBE4;
$accent-color: lightgrey;
$text-color: #1c1c1c;
$mobile: 800px;
$para-font: 'Poppins', sans-serif;

//maps are lists of key value pairs
$font-weights: (
  "thin" : 300,
  "regular": 400,
  "medium": 600,
  "bold": 800,
);

