@import "./variables";

//creating a functoin to be able to set the font weight like this: font-weight: weight(regular), without the map-get anymore
@function weight($weight-name) {
    @return map-get($font-weights, $weight-name);
}

// general
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    color: $text-color;
    font-family: $para-font;
    font-weight: weight(thin);
}

a{
    color: $text-color;

    &:hover{
        color: $primary-color;
    }
}

.wrapper{
    margin: 0 90px;
}


// Navigation Bar
.navbar {
    padding: 15px 90px;
    background-color: white;
    z-index:1000;

    a img{
        width: 60px;
        padding: 0;
        margin: 0;
    }

    .navbar-nav .nav-item{
        padding: 0;
        text-transform: uppercase;
        margin-right: 50px;

        &:nth-child(4){
            margin-right: 0;
        }
    }
}


// Hero Section / Home Section

.hero-sec{
    display: flex;

    .left{
        width: 53%;
        margin-top: 130px;

        button {
            outline: none;
        }
        
        h2{
            font-family: Didot, serif;
            font-size: 115px;
            font-weight: weight(medium);
            text-transform: uppercase;
            line-height: 100px;
        }
        h3{
            width: 100%;
            padding-top: 15px;
            font-size: 45px;
            text-transform: uppercase;
            line-height: 50px;
            font-style: italic;
        }
    
        .GIT-btn{
            margin-top: 20px;
            text-transform: uppercase;
            border: 3px solid $primary-color;
            background-color: transparent;
            font-size: 15px;
            padding: 5px 20px ;
            color: $primary-color;
            cursor: pointer;
    
            &:hover{
                background-color: $primary-color;
                color: white;
            }
        }
    
        .scroll-btn{
            border:none;
            background-color: transparent;
            padding: 0;
            font-size: 50px;
            margin-top: 100px;
            
            &:hover{
                color: $primary-color;
            }
            a{
                cursor: pointer;
            }
        }
    }

    .right{
        width: 40%;
        margin-top: 130px;

        .illustration{
            margin-right: 90px;
            position: absolute;
            height: 100%;
        
            img{
                width: 100%;
                float: right;
            }
        
            #afrohead{
                opacity: 0;
                position: relative;
                top: -1000px;
                left: 45px;
                z-index: -1; 
                transition: opacity 0.25s ease-out;
            }
        }
    }
}

// toggle switch for afro
.slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.switch {
    position: absolute;
    top: 510px;
    right: 350px;
    width: 50px;
    height: 34px;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }
}



.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:transparent;
    border: 3px solid black;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 1px;
    border: 3px solid black;
    background-color: transparent;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
background-color: black;
}


input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(17px);
border: 3px solid black;
background-color: $primary-color;
}


// Social Media Link Right Sidebar

.socials-sidebar {
    position: fixed;
    right: 0;
    bottom: 0;
    text-align: center;
    margin: 0px 30px;
    font-size: 30px;

    li {
        list-style-type: none;
        padding-bottom: 5px;
        
        &:nth-child(3) {
            padding-bottom: 0px;
        }
    
        &:hover{
            transform: translateY(-5px);
            transition: .1s;
        }
    }

    &::after {
        content: "";
        margin: auto !important;
        display: block;
        height: 120px;
        width: 2px;
        background-color: black;
        position: relative;
    }
}

// About Me Section

.sec-title{
    font-size: 30px;
    font-weight: weight(medium);
    text-transform: uppercase;
    padding-bottom: 15px;
}
.about-sec{
    padding-top: 50px;
    width: 45%;
    background-image: url(images/about-bg.png);

    p{
        font-weight: weight(thin);
        line-height: 25px 
    }

    .lang-list{
        padding-top: 20px;
        width: 90%;
        display: flex;
        justify-content: space-between;

        li{
            padding-bottom: 5px;
        }
    }
}

// Projects Section

.project-sec{
    width: 100%;
    text-align: right;

    h6{
        font-weight: weight(thin);
    }


    .gallery{
        padding-top: 50px;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .img-block {
            width: 580px;
            height: 300px;
            overflow-y: hidden;
            box-shadow: 5px 5px 20px #64646456;
            margin-bottom: 80px;
            cursor: pointer;
          }
          
          .img-block img {
            width: 100%;
            object-fit: fill;
            object-position: center center;
        }
    }
}

// Contact Form Section

.contact-sec{
    text-align: center;

    a{
        text-decoration: underline;
        color: $primary-color;

        &:hover{
            color: $accent-color;
        }
    }
    form {
        width: 70%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 3fr .5fr;
        grid-column-gap: 20px;
        grid-template-areas:
          "name lname"
          "email subject"
          "message message"
          "button button";
          

          input{
              outline: none;
              width: 100%;
              margin-bottom: 20px;
              border-radius: none;
              border: 1px solid lightgrey;
              padding: 15px;

            #name{
                grid-area: name;
            }

            #lname{
                grid-area: lname;
            }

            #email{
                grid-area: email;
            }

            #subject{
                grid-area: subject;
                
            }
          }

          textarea{
              grid-area: message;
              width: 100%;
              border-radius: none;
              border: 1px solid lightgrey;
              padding: 15px;
              outline: none;
          }

          button{
            margin-top: 20px; 
            padding: 8px; 
            grid-area: button;
            background-color: transparent;
            border: 3px solid $primary-color;
            color: $primary-color;
            text-transform: uppercase;

            &:hover{
                background-color: $primary-color;
                color: white;
            }
          }
    }
}

footer{
    text-align: center;
    padding: 50px 0px 30px 0px;

    img{
        width: 60px;
    }
}


// Thank you page after contact form

.thank-you{
    text-align: center;
    margin-top: 150px;

    .check-icon{
        font-size: 90px;
        color: $primary-color;
    }

    h1{
        font-size: 80px;
        padding-top: 15px;
    }

    p{
        font-size: 20px;
    }

    button{
        background-color: transparent;
        border: none;
        color: $primary-color;
        text-decoration: underline;
        margin-top: 300px;
    }
}


// Resposive Section (920)
@media (max-width: 920px){
     .hero-sec {
        display: block;
        text-align: center;
     .left{
        width: 100%;

        h2{
            font-size: 90px;
            line-height: 80px;
        }

        h3{
            font-size: 35px;
            line-height: 35px;
            width: 100%;
        }

        .scroll-btn{
            margin-top: 180px;
        }
    }

    .right{
        width: 40%;

        .illustration{
            margin-right: 60px;

            img{
                width: 50%;
                margin-right: 40px;
                margin-top: 80px;
            }

            #afrohead{
                left: 25px;
                top: -730px;
            }
        }
    }
}
        
    .switch {
        position: absolute;
        top: 430px;
        right: 250px;
        width: 35px;
        height: 24px;
    }  
    
    .slider:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
    }

    input:checked + .slider:before {
        transform: translateX(11px);
        border: 1px solid black;
        background-color: $primary-color;
    }

    .about-sec{
        width: 50%;

        .lang-list{
            display: block;
        }
    }

    .project-sec{
        padding-top: 100px;
        text-align: center;

        .sec-title{
            width: 100%;
            float: left;

        }

        .gallery{
            float: right;
            margin: 0;
            justify-content: space-evenly;
        }
    }


    .contact-sec form{
        width: 90%;
    }
}

// Resposive Section (500)
@media (max-width: 500px){
    .wrapper{
        margin: 0 60px;
    }

    .navbar{
        padding: 15px 40px;

        .navbar-toggler{
            padding: 0px;
            font-size: 30px;
        }

        .navbar-collapse{
            text-align: right;
            
            .nav-link{
                margin-right: 0px;
            }
        }
    }

    .hero-sec .left{
        margin-top: 90px;
        text-align: center;

        h2{
            font-size: 60px;
            line-height: 60px;
        }

        h3{
            font-size: 25px;
            line-height: 25px;
        }

        .scroll-btn{
            opacity: 0;
        }
    }

    .hero-sec .right{
        margin-top: 0px;

        img{
            position: absolute;
            right: 60px;
            top: -280px;
        }

        .illustration #afrohead{
            left: -50px;
            top: -315px;
        }
    }

    .switch {
        position: absolute;
        top: -40px;
        right: 300px;
        width: 35px;
        height: 24px;
    }  
    
    .slider:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
    }

    input:checked + .slider:before {
        transform: translateX(11px);
        border: 1px solid black;
        background-color: white;
    }

    .about-sec{
        text-align: center;
        width: 100%;
        padding-top: 100px;

        .lang-list{
            text-align: left;
        }
    }


    .project-sec{
        width: 100%;

        .gallery{
            width: 100%;
            

            .img-block{
                height: 200px;
                margin-bottom: 50px;
            }
        }
    }

    .contact-sec{

        form{
            width: 100%;
        }
    }

    .socials-sidebar{
        right: -20px;
    }
}
