* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #393939;
}

.navbar {
  padding: 20px 50px;
}

.navbar img {
  width: 80px;
}

.container {
  margin: 0 50px;
}


.left {
  width: 150%;
  position: relative;
  padding-top: 150px;
}

.left h1 {
  width: 200%;
  font-size: 100px;
}

.left p {
  font-size: 20px;
  padding: 0px 0px 20px 10px;
}

#countdown img {
  position: relative;
  width: 57%;
  margin-top: -50px;
  z-index: -1;
}

.attribute {
  width: 100%;
  position: relative;
  float: left;
  color: #393939;
  text-decoration: none;
  margin-top: 283px;
  margin-left: -350px;
  font-size: 9px;
  color: #a4a7b3;
}

.left a{
  color: #c5cbe5;
  text-decoration: none;
}
